p 	{
	font-family: Tahoma;
	font-size: 12px;
	}
								
body	 {
	background-color: #ADD8E6
	}

	#image {
	background-image: url("http://www.sputnikmusic.com/images/albums/4087.jpg");
	background-size: contain;
	box-shadow: rgba(0,0,0,0.2) 10px 10px;	
	}
				
a:link {
	text-decoration: none;
	}
				
a:visited {
	text-decoration: none;
	}
				 
a:hover {
	color: #0000FF;
	text-decoration: underline;
	}
				 
a:active 	{
	text-decoration: none;
	 }

th {
	text-align: center;
	}

caption {
	text-align: center;
	color: black;
	}				 

ul {
	position: absolute; 
	left: 70px; 
	width: 85%;
	list-style-type: none;
	}

li	{
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	border-radius: 5px 5px;
	background-color: #ADCCE6;
	padding: 5px 5px 5px 5px;
	text-align: center;
	}

.table-striped > tbody > tr:nth-child(odd){
   background-color: #7FBBCF;
	}

table {
	position: center;
	width: 100%; 
	border: 3px solid black;
	border-collapse: collapse;
	background-color: #ADCCE6;
	}

td {
	height: 75px;
	width: 75px;
	border: 3px solid black; 
	text-align:center;
	}

th {
	font-family: Verdana;
	font-weight: normal;
	color: #3c4543;
	}
